.box1{
 height: 200px;
margin-top: 50px;
border-left: 50px  solid gray;
border-right: 50px solid gray;


}


button{

    border-radius: 100px;
    font-size: none;
    height: 40px;
    width: 40px;
    background-color: darkgoldenrod;
    color:darkgoldenrod ;
    animation-timing-function: linear;
    animation-name: move-to-right ;
    animation-duration:4s;
    animation-direction: alternate;
    margin-top:80px;
    animation-iteration-count:infinite

}
@keyframes move-to-right{
    from{
        margin-left: 0px;
    }
    to{
        margin-left: 1120px;
    }
}
